* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 66px 0;
    border-bottom: 1px solid #cccccc;
    padding: 56px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.menu li:hover {
    border-color: blueviolet;
}

.menu > li {
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative; 
}

.clear {
    clear: both;
}

.menu li:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position:absolute;
    border-bottom: 1px solid blueviolet;
    left: 0;
    width: 300px;
    top: 100%;
}

.submenu > li {
    display: block;
    padding: 8px;
}

.conteudo {
    display: grid;
    grid-template-columns: 70% 30%;
}

.news img {
    max-width: 100%;
}

.destaque {
    margin-bottom: 56px;
    padding: 10px;
}

.destaque .news a {
    display: flex;
    font-size: 2em;
}

.destaque .news img {
    margin-right: 8px;
}

.noticias {
    display: grid;
    grid-template-columns: repeat(3, 32.6%);
    column-gap: 1%;
    row-gap: 5%;
}

section h2 {
    margin-bottom: 32px;
    padding: 10px;
}

aside {
    padding-left: 40px;
}

aside .news {
    margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
    header div.container {
        flex-direction: column;
    }
    
    .container {
        max-width: 90%;
    }

    .botao-menu {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        padding-bottom: 16px;
    }

    .botao-menu button {
        padding: 8px;
    }

    .menu {
        display: none;
    }
    
    .menu > li {
        clear: both;
    }
    
    .submenu li {
        display: block;
        padding: 0;
    }

    .conteudo {
        display: block;
    }
    
    .destaque .news a {
        display: block;
        font-size: 1.5em;
    }
    
    .destaque .news img {
        margin-right: 0;
    }
    
    .noticias {
        display: block;
    }

    .noticias .news {
        margin-bottom: 32px;
    }

    aside {
        padding-left: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .botao-menu {
        display: none;
}

    .destaque .noticia a {
        font-size: 1.5em;
    }

    .noticias {
        grid-template-columns: repeat(2, 49%);
    }
}

@media screen and (min-width: 1024px) {
    .botao-menu {
        display: none;
    }
}