@font-face {
    font-family: 'Ogg';
    src: url(fonts/Ogg-Regular.ttf) format('truetype');
}
    
@font-face {
    font-family: 'Now';
    src: url(fonts/now.light.otf) format('opentype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: block;
    position: absolute;
    margin-top: 300px;
    padding: 40px 50px ;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav li a {
    font-family: 'Ogg';
    font-weight: bolder;
    font-size: 24px;
    color: #8C533E;
    text-decoration: none;
}

button {
    display: block;
    background: #8C533E;
    font-family: 'Ogg';
    font-size: 20px;
    color: #FFFFFF;
    margin: 100px auto;
    padding: 25px 220px;
    border-radius: 8px;
    border-style: hidden;
}

.container-inicial {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.container-header img-inicial {
    align-self: flex-start;
}

#img-inical {
    box-sizing: border-box;
    height: 600px;
    width: 600px;
}

.container-header containerHeader-nav {
    box-sizing: border-box;
}

header > h1 {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Ogg';
    font-weight: bold;
    font-size: 40px;
    color:#BF533B;
    width: 80%;
    margin: 20px 50px;
    padding: 40px 40px;
    align-items: left;
}

h2{
    font-family: 'Now';
    font-weight: lighter;
    font-size: 20px;
    color: #8C533E;
    margin: 500px 50px 0 50px;
    padding: auto 10px; 
}

.copy {
    font-family: 'Ogg';
    text-align: center;
    font-size: 18px;
    color:#BF533B;
    margin: 50px 0 20px 0;
}
